<div>

  <h3>Formulario de Registro</h3>

  <form action="/auth/signup" method="post">

    <label for="username">Nombre de Usuario</label>
    <input type="text" name="username">

    <br>

    <label for="email">Correo Electronico</label>
    {{!-- <input type="email" name="email" required="true"> --}}
    <input type="email" name="email">

    <br>

    <label for="password">Contraseña</label>
    {{!-- <input type="password" name="password" required="true"> --}}
    <input type="password" name="password">

    <br>

    <button>Registrar</button>

    {{#if this.errorMessage}}
      <p style="color: red">{{this.errorMessage}}</p>
    {{/if}}

  </form>

</div>